/* Estilo base para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo de sobreposição com transparência */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para o conteúdo interno do modal */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
  }
  
  /* Estilo para fechar o modal */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* Estilo para o formulário dentro do modal */
  .todo-form {
    text-align: center;
  }
  
  /* Estilo para o campo de entrada (input) no modal */
  .todo-input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }
  
  /* Estilo para o botão de envio no modal */
  .todo-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilo para o botão de envio quando o cursor está em cima no modal */
  .todo-button:hover {
    background-color: #0056b3;
  }
  